<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<div class="table">
				<h2>配送先編集</h2>
				<table>
 					<%= form_with(model: @address, local:true) do |f| %>
 						<tr>
	 						<th>郵便番号</th>
						 	<td><%= f.text_field :postal_code %></td>
						</tr>
						<tr>
	 						<th>住所</th>
						 	<td><%= f.text_field :address %></td>
						 </tr>
						 <tr>
	 						<th>宛名</th>
						 	<td><%= f.text_field :name %></td>
						 </tr>
							<td><%= f.submit "情報更新" %></td>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>

