<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<div class="table">
				<h2>配送先登録と一覧</h2>
				<table>
				  <%= form_with(model: @address, local:true) do |f| %>
				  <thead>
				    <tr>
				      <th>郵便番号(ハイフンなし)</th>
				      <td><%= f.text_field :postal_code %></td>
				    </tr>
				    <tr>
				      <th>住所</th>
				      <td><%= f.text_field :address %></td>
				    </tr>
				      <th>宛名</th>
				      <td><%= f.text_field :name %></td>
				      <td><%= f.submit "登録" %></td>
				    </tr>
				    <% end %>
				  </thead>
				  <tbody>
				    <% @addresses.each do |address| %>
				    <tr>
				      <td><%= address.postal_code %></td>
				      <td><%= address.address %></td>
				      <td><%= address.name %></td>
				      <td><%= link_to "編集する", edit_address_path(address) %></td>
				      <td><%= link_to "削除する", address_path(address), method: :delete %> </td>
				      <% end %>
				      <%=  link_to "注文履歴の詳細へ", order_path(@order) %>
				    </tr>
				  </tbody>
