<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<div class="table">
				<h2>商品情報入力</h2>
				<table>
				<%= form_with(model: @order, url:payment_screen_orders_path, method: :post, local:true) do |f| %>
					<thead>
							<tr>
								<th>支払い方法</th>
							</tr>
							<tr>
								<td><%= f.radio_button :payment_method, 0, {:checked => true} %></td>
								<th>クレジットカード</th>
							</tr>
							<tr>
								<td><%= f.radio_button :payment_method, 1 %></td>
								<th>銀行振込</th>
							</tr>
					</thead>
				</table>
				<table>
					<thead>
							<th>お届け先</th>
						<tr>
							<th><%= f.radio_button :address_option, 0, {:checked => true}  %>
							ご自身の住所</th>
						</tr>
						<tr>
							<th>〒<%= current_customer.postal_code %>
								  住所：<%= current_customer.address %>
							      名前：<%= current_customer.full_name %></th>
						</tr>
						<tr>
							<th><%= f.radio_button :address_option, 1 %>
							登録済住所から選択</th>
						</tr>
						<tr>
							<td><%= f.collection_select(:delivery, @addresses, :id, :registration_address) %></td>
						</tr>
						<tr>
							<th><%= f.radio_button :address_option, 2 %>
							新しいお届け先</th>
						</tr>
						<tr>
							<th>郵便番号
							<%= f.text_field :postal_code %></th>
						</tr>
						<tr>
							<th>住所
							<%= f.text_field :address %></th>
						</tr>
						<tr>
							<th>宛名
							<%= f.text_field :name %></th>
						</tr>
					</thead>
				<tbody>
						<tr>
						</tr>
						<tr>
						</tr>
						<tr>
						</tr>
								<td><%= f.submit "次へ" %></td>
					<% end %>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
