<%= form_with(model: @order, url:confirm_orders_path, local:true) do |f| %>
	<%= f.hidden_field :payment_method, :value => @order.payment_method == "bank_transfer" ? "1" : "0" %>
	<%= f.hidden_field :address_option, :value => @order.address_option %>
	<% if @order.credit_card? %>
		<div class="container">
			<div class="row">
	<div class = 'notifications' >
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: key) %>
		<% end %>
	</div>
				<div class="col-sm-7">
					<div class="table">
						<h2>クレジットカード情報を入力してください</h2>
						<table>
							<tr>
								<th>クレジットカード番号</th>
								<td><%= f.text_field :credit_number %></td>
							</tr>
							<tr>
								<th>カード名義人</th>
								<td><%= f.text_field :card_name %></td>
							</tr>
							<tr>
								<th>セキュリティコード</th>
								<td><%= f.number_field :security_code %></td>
							</tr>
							<tr>
								<td><%= f.submit "注文確認画面へ" %></td>
							</tr>
						</table>
					</div>
				</div>
	<% else @order.bank_transfer? %>
				<div class="col-sm-7">
					<div class="table">
						<h2>下記の銀行口座までお振込みください。</h2>
						<table>
							<th>銀行名:三井住友銀行</th>
							<th>振込口座:001111-222</th>
							<th>普通預金</th>
							<th>名義人:テスト太郎</th>
							<th><%= f.submit "注文確認画面へ" %></th>
						</table>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
