<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<div class="table">
				<h2>注文履歴詳細</h2>
				<table>
					<tr>
						<th>購入者</th>
						<td><%= @order.name %></td>
					</tr>
					<tr>
						<th>注文日</th>
						<td><%= @order.created_at %></td>
					</tr>
					<tr>
						<th>配送先</th>
						<td><%= @order.address %></td>
					</tr>
					<tr>
						<th>支払方法</th>
						<td><%= @order.payment_method %></td>
					</tr>
					<tr>
						<th>ステータス</th>
						<td><%= @order.status %></td>
					</tr>
			</table>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="table">
				<table>
					<thead>
						<tr>
							<th>商品名</th>
							<th>単価(税込)</th>
							<th>数量</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<% @order_items.each do |order_item| %>
						<tr>
							<td><%= order_item.card.name %></td>
							<td><%= order_item.order_price %></td>
							<td><%= order_item.amount %></td>
							<td><%= order_item.subtotal_price %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class= "total-price col-sm-3">
			<tr>
				<th>商品合計</th>
				<td><%= @order.total_price %></td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.postage %></td>
			</tr>
				<th>請求金額合計</th>
				<td><%= @order.order_price + @order.postage %></td>
			</tr>
		</div>
	</div>
</div>



