<div class="container">
	<div class="row">
			<div class = 'notifications' >
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: key) %>
		<% end %>
	</div>
		<div class="col-sm-7">
			<div class="table">
			<h1>新着商品</h1>
				<table>
					<% @cards.last(4).each do |card| %>
						<tr>
								<td><%= link_to (card_path(card)) do %>
								<%= attachment_image_tag card, :image, style:"height:100px;, width:100px;" %>
									<%= card.name %></td>
								<% end %>
							<td><%= card.price %>円</td>
						</tr>
						<td><%= link_to "全ての商品を見る", cards_path %></td>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>