<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<div class="table">
			<%= form_with model:@genre do |f| %>
				<thead>
					<tr>
						<th>ジャンル名</th>
						<th><%= f.text_field :name %></th>
					</tr>
					<tr>
						<th><%= f.submit "ジャンル登録" %></th>
					</tr>
				</thead>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="table">
				<tbody>
					<tr>
						<h2>ジャンル一覧</h2>
					</tr>
				<% @genres.each do |genre| %>
					<tr>
						<%= genre.name %>
						<%= link_to "削除", admins_genre_path method: :delete %>
					</tr>
				</tbody>
			</div>
		</div>
	</div>
</div>

