<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="table">
        <table>
          <th>会員登録</th>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "publics/shared/error_messages", resource: resource %>
            <thead>
              <tr>
                <th><%= f.label :性 %></th>
                <th><%= f.label :名 %></th>
              </tr>
                <th><%= f.label :メールアドレス %></th>
                <th><%= f.label :パスワード %></th>
                <th><%= f.label :パスワード確認 %></th>
                <th><%= f.label :郵便番号 %></th>
                <th><%= f.label :住所 %></th>
                <th><%= f.label :電話番号 %></th>
            <tbody>
              <tr>
                <td><%= f.text_field :last_name %></td>
                <td><%= f.text_field :first_name %></td>
              </tr>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                <td><% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                <td><%= f.text_field :postal_code %></td>
                <td><%= f.text_field :address %></td>
                <td><%= f.text_field :telephone_number %></td>
                <td><%= f.submit "新規登録" %></td>
            <% end %>
          </thead>
          </tbody>
        </table>
      </div>
  </div>
</div>

