<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h2>注文履歴詳細</h2>
			<div class="table">
				<table>
					<%= form_with model:@order, url:admins_order_path, method: :patch, local:true do |f| %>
					<thead>
						<tr>
							<th>購入者</th>
							<td><%= f.text_field :name %></td>
						</tr>
						<tr>
							<th>注文日</th>
							<td><%= @order.created_at %></td>
						</tr>
						<tr>
							<th>配送先</th>
							<td><%= f.text_field :address %></td>
						</tr>
						<tr>
							<th>支払方法</th>
							<td><%= f.radio_button :payment_method, "クレジットカード"%>クレジットカード
							<%= f.radio_button :payment_method, "銀行振込" %>銀行振込</td>
						</tr>
						<tr>
							<td><%= f.submit "更新" %></td>
						</tr>
					</thead>
					<% end %>
				</table>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="table">
				<table>
					<thead>
						<tr>
							<th>商品名</th>
							<th>単価(税込)</th>
							<th>数量</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<% @order_items.each do |order_item| %>
						<tr>
							<%= order_item.card.name %>
							<%= order_item.order_price %>
							<%= order_item.order.sub_total_price(order_item) %>
							<%= order_item.amount %>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class= "total-price col-sm-3">
			<tr>
				<th>商品合計</th>
				<td><%= @order.total_price %></td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.postage %></td>
			</tr>
				<th>請求金額合計</th>
				<td><%= @order.total_price + @order.postage %></td>
			</tr>
		</div>
	</div>
</div>



