<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h2>詳細画面</h2>
			<div class="table">
				<table>
					<thead>
						<%= attachment_image_tag @card, :image, style:"height:300px;, width:300px;" %>
						</thead>
				</table>
				<table>
					<tr>
						<td><%= @card.name %></td>
					</tr>
					<tr>
						<td><%= @card.introduction %></td>
					</tr>
					<tr>
						<th>価格
						<%= @card.price %></th>
					</tr>
				</table>
				<table>
					<tbody>
						 <% if customer_signed_in? %>
						<%= form_with model:@cart_card, url:cart_cards_path, local:true do |f| %>
						<tr>
							<th>数量</th>
							<td><%= f.number_field :amount, min: 1, max: 10, required: true %></td>
						</tr>
							<td><%= f.hidden_field :customer_id, value: current_customer.id %></td>
							<td><%= f.hidden_field :card_id, value: @card.id %></td>
						<tr>
							<td><%= f.submit "カートに追加" %></td>
						</tr>
							<% end %></td>
							<% else %>
						<tr>
							<th>カートに追加するには会員登録が必要です</th>
						</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
