<!DOCTYPE html>
<html>
  <head>
    <title>PortFolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!--   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"> -->
          <% if admin_signed_in? %>
            <%= link_to "商品一覧", admins_cards_path %>
            <%= link_to "会員一覧", admins_customers_path %>
            <%= link_to "注文一覧", admins_orders_path %>
            <%= link_to "ログアウト", destroy_admin_session_path %>
          <% elsif customer_signed_in? %>
            <%= link_to "マイページ", customer_path(current_user) %>
            <%= link_to "商品一覧", cards_path %>
          <% else %>
            <%= link_to "新規登録", new_customer_registration_path %>
            <%= link_to "ログイン", new_customer_session_path %>
            <%= link_to "管理者の方はこちら", new_admin_session_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
